<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>(λove (print (eval (read))))</title>
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="{relocatable: images/labyrinth.ico}" type="image/x-icon">
    <link rel="shortcut icon" href="{relocatable: images/labyrinth.ico}" type="image/x-icon" />

    <link rel="stylesheet" href="{relocatable: css/style.css}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{relocatable: css/skeleton-responsive.css}">
    <link rel="stylesheet" href="{relocatable: css/layout-responsive.css}">

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=clj"></script>
  </head>

  <body class="home page page-id-9 page-template-default">
    <div class="body-wrapper">
      <div class="container">
	<div class="header-wrapper">
	  <div class="header-right-side-wrapper">
	    <div class="social-wrapper">
	      <div class="social-icon-wrapper">
		<div class="social-icon">
		  <a href="http://www.twitter.com/fogus">
		    <img src="{relocatable: images/twitter.png}" alt="twitter">
	          </a>
		</div>
		<div class="social-icon">
		  <a href="http://blog.fogus.me/tag/readevalprintlove/feed/">
		    <img src="{relocatable: images/rss.png}" alt="feed">
	          </a>
		</div>
	      </div>
	    </div>

	    <!-- Nav -->
	    <div class="navigation-wrapper">
	      <div id="main-superfish-wrapper" class="menu-wrapper">
		<ul id="menu-main" class="sf-menu sf-js-enabled sf-shadow">
		</ul>
	      </div>
	    </div>
	    <div class="clear"></div>
	  </div> <!-- header-right-side -->
	</div> <!-- header-wrapper -->

	<div class="content-wrapper ">
	  <div class="page-wrapper">
	    <div class="sixteen columns mb0">
	      <div class="slider-wrapper fullwidth">
		<div class="flexslider">
		  <ul class="slides">
		    <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
		      <img src="{relocatable: images}/{etagami:}" alt="">
		    </li>
		</ul>
		</div>
	      </div>
	    </div>
	    <div class="gdl-page-float-left">
	      <div class="gdl-page-item">
		<div class="sixteen columns ">
		  <div class="stunning-text-wrapper">
		    <h1 class="stunning-text-title"><i>{title:}</i></h1>
		    <div class="stunning-text-caption">
		      <webgen:block name="content"/>
		    </div>
		    <div class="stunning-text-corner top"></div>
		    <div class="stunning-text-corner bottom"></div>
		    <div class="clear"></div>
		  </div>
		</div>
		<br class="clear">
		<div class="one-fourth column ">
		  <div class="column-service-wrapper">
		    <div class="column-service-title-wrapper">
		      <div class="column-service-image">
			<img src="./images/icon.png">
		      </div>
		      <h2 class="column-service-title gdl-title">Study</h2>
		      <div class="clear"></div>
		    </div>
		    <div class="column-service-content">
		      <webgen:block name="study"/>
		    </div>
		  </div>
		</div>

		<div class="one-fourth column ">
		  <div class="column-service-wrapper">
		    <div class="column-service-title-wrapper">
		      <div class="column-service-image">
			<img src="./images/icon.png" alt="">
		      </div>
		      <h2 class="column-service-title gdl-title">Practice</h2>
		      <div class="clear"></div>
		    </div>
		    <div class="column-service-content">
		      <webgen:block name="practice"/>
		    </div>
		  </div>
		</div>

		<div class="one-fourth column ">
		  <div class="column-service-wrapper">
		    <div class="column-service-title-wrapper">
		      <div class="column-service-image">
			<img src="./images/icon.png" alt="">
		      </div>
		      <h2 class="column-service-title gdl-title">Realization</h2>
		      <div class="clear"></div>
		    </div>
		    <div class="column-service-content">
		      <webgen:block name="realization"/>
		    </div>
		  </div>
		</div>

		<div class="one-fourth column ">
		  <div class="column-service-wrapper">
		    <div class="column-service-title-wrapper">
		      <div class="column-service-image">
			<img src="./images/icon.png" alt="">
		      </div>
		      <h2 class="column-service-title gdl-title">Play</h2>
		      <div class="clear"></div>
		    </div>
		    <div class="column-service-content">
		      <webgen:block name="play"/>
		    </div>
		  </div>
		</div>

		<div style="clear:both; height:0px"></div>
	      </div>
	    </div>
	  </div>
	  <br class="clear">
	</div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="container">
	<div class="footer-widget-wrapper">
	  <div class="one-third column mt0">
	    <div class="custom-sidebar gdl-divider">
	      &nbsp;
	      <div class="clear"></div>
	    </div>
	  </div>
	</div>
	<div class="one-third column mt0">
	  <div class="custom-sidebar gdl-divider">
	    <h3 class="custom-sidebar-title footer-title-color gdl-title">Entries</h3>
	    <div class="tagcloud">
	      <a href="{relocatable: sakura/index.html}" class="glossary-link" style="font-size: 8pt;">sakura</a>
	    </div>
	  </div>
	</div>
	<div class="one-third column mt0">
	  <div class="custom-sidebar gdl-divider">
	    <h3 class="custom-sidebar-title footer-title-color gdl-title">About the author</h3>
	    <div class="textwidget">
	      <div style="clear:both; height:6px"></div>
	      <p><a href="http://www.fogus.me">Michael Fogus</a>—a core contributor to
		<a href="http://www.clojure.org">Clojure</a>
		and <a href="http://www.clojurescript.net">ClojureScript</a>.  Creator of the
		<a href="http://functionaljs.org">Lemonad</a>, <a href="https://www.github.com/fogus/friebyrd">
		Friebyrd</a> and <a href="https://www.github.com/fogus/codd">
		Codd</a> JavaScript libraries.

		A fervent blogger at  <a href="http://blog.fogus.me">Send More Paramedics</a> and also
		co-author of the book, <i><a href="http://www.joyofclojure.com">The Joy of
		Clojure</a></i>.
	      </p>
	    </div>
	  </div>
	  <div class="custom-sidebar gdl-divider">
	    <h3 class="custom-sidebar-title footer-title-color gdl-title">Author online</h3>
	    <div class="textwidget">
	      <div style="float: left; clear: both; margin-top: 5px; margin-bottom: 7px; ">
		<div style="float: left; margin: 4px 7px 0 0;">
		  <img src="./images/house.png">
		</div>
		<div style="float: left;"><a href="http://www.fogus.me">http://fogus.me</a></div>
	      </div>
	      <div style="float: left; clear: both; margin-bottom: 7px; ">
		<div style="float: left; margin: 5px 7px 0 0;">
		  <img src="./images/email.png">
		</div>
		<div style="float: left;">
		  <a href="#">me -at- fogus -dot- me</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="display-none mt0"></div>
      <br class="clear">
    </div>
</div>
<div class="copyright-wrapper">
  <div class="container">
    © Copyright 2013, Michael Fogus
  </div>
</div>
</div><!-- footer-wrapper -->
</div> <!-- body-wrapper -->
</body>
</html>
